<h1>Join!</h1>

<%= form_for @person do |f| %>
	Name: <%= f.text_field :name %><br />
	E-Mail: <%= f.text_field :email %><br />
	Password: <%= f.password_field :password %><br/>
	Age: <%= f.text_field :age %><br />
	Drink Of Choice: <%= f.text_field :drink %><br />
	<br />
	<%= f.submit "Create User"%>
<% end %>
