<h1><%= @person.name %></h1>


  <strong>E-Mail:</strong>
      <%= @person.email %>
      
  <strong>Age:</strong>
      <%= @person.age %>

  <strong>Drink Of Choice:</strong>
      <%= @person.drink %>

<br>
<% @person.cures.each do |c| %>
<br>
<strong><%= c.item %></strong>
<br>
<%= c.lastnight %>
<br>

 <%= image_tag c.image, class: "picture" %><br>
<br>
    

<% if current_user == @person.id %>

<%= link_to "Edit This Cure", edit_person_cure_path(@person, c) %>
<br>
<%= link_to 'Delete This Cure?', person_cure_path(@person, c), method: :delete, data: { confirm: "Are you sure!?"} %>

<% end %>


<% end %>

<br>
<br>
<%= link_to "Edit Your Profile", edit_person_path %>
