<h1><%= @person.name %></h1>


  <strong>E-Mail:</strong>
      <%= @person.email %>

  <strong>Drink Of Choice:</strong>
      <%= @person.drink %>

<br>
<% @person.cures.each do |c| %>
<br>
<strong><%= c.item %></strong>
<br>
<%= c.lastnight %>
<br>



 <% if c.image_file_name %>
 <%= image_tag c.image, class: "picture" %><br>
 <% end %>
<br>
    



<% if current_user.id == @person.id %>

<%= link_to "Edit This Cure", edit_person_cure_path(@person, c) %>
<br>
<%= link_to 'Delete This Cure?', person_cure_path(@person, c), method: :delete, data: { confirm: "Are you sure!?"} %>
<br>

<%= link_to "Edit Your Profile", edit_person_path %>

<br>
<% end %>
<% end %>

