<h1><%= @person.name %></h1>


  <strong>E-Mail:</strong>
      <%= @person.email %>
      
  <strong>Age:</strong>
      <%= @person.age %>

  <strong>Drink Of Choice:</strong>
      <%= @person.drink %>

<% @person.cures.each do |c| %>

<%= c.item %>
<%= c.amount %>
<%= c.order %>
<%= c.lastnight %>
<%= c.image %>

<% end %>